<section class="section columns">
    <div class="column is-half-desktop is-four-fifths-tablet">
        <!-- <div class="container"> -->
            <signature-pad class="box is-paddingless" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
            <div class="field is-grouped">
                <p class="control">
                    <button (click)="clear()" class="button is-info is-small is-rounded">{{ actions.SignatureButton2}}</button>
                </p>
                <p class="control">
                    <button (click)="signForm()" class="button is-info is-small is-rounded">{{ actions.SignatureButton1}}</button>
                </p>
            </div>
        <!-- </div> -->
    </div>
</section>