<section class="section box">
    <div id="sidebar">
        <div id="outline"></div>
    </div>
    <div id="page-container">
        <div id="pf1" class="pf w0 h0" data-page-no="1">
            <div class="pc pc1 w0 h0 opened">
                <img class="bi x0 y0 w1 h1 image" alt="" src="assets/images/formImg.png">
                <div class="t m0 x0 h2 y1 ff1 fs0 fc0 sc0 ls0 ws0">     </div>
                <div class="t m0 x1 h3 y2 ff2 fs1 fc0 sc0 ls0 ws0">Form W-2G</div>
                <div class="t m0 x2 h4 y3 ff1 fs2 fc0 sc0 ls0 ws0">Cat. No. 10138V</div>
                <div class="t m0 x3 h5 y4 ff2 fs3 fc0 sc0 ls0 ws0">Certain </div>
                <div class="t m0 x4 h5 y5 ff2 fs3 fc0 sc0 ls0 ws0"> Gambling </div>
                <div class="t m0 x5 h5 y6 ff2 fs3 fc0 sc0 ls0 ws0"> Winnings</div>
                <div class="t m1 x6 h6 y7 ff2 fs4 fc0 sc0 ls0 ws0">Copy A </div>
                <div class="t m1 x7 h6 y8 ff2 fs4 fc0 sc0 ls0 ws0"> For Internal Revenue </div>
                <div class="t m1 x8 h6 y9 ff2 fs4 fc0 sc0 ls0 ws0">Service Center</div>
                <div class="t m0 x9 h4 y3 ff1 fs2 fc0 sc0 ls0 ws0">Department of the Treasury - Internal Revenue Service</div>
                <div class="t m0 xa h6 ya ff2 fs4 fc0 sc0 ls0 ws0">File with Form 1096</div>
                <div class="t m0 x1 h4 yb ff1 fs2 fc0 sc0 ls0 ws0">OMB No. 1545-0238</div>
                <div class="t m0 x7 h7 yc ff1 fs4 fc0 sc0 ls0 ws0">For Privacy Act and </div>
                <div class="t m0 xb h7 yd ff1 fs4 fc0 sc0 ls0 ws0">Paperwork Reduction </div>
                <div class="t m0 xc h7 ye ff1 fs4 fc0 sc0 ls0 ws0">Act </div>
                <div class="t m0 xa h7 yf ff1 fs4 fc0 sc0 ls0 ws0">Notice, see the <span class="ff2">2019</span> </div>
                <div class="t m0 xd h6 y10 ff2 fs4 fc0 sc0 ls0 ws0">General </div>
                <div class="t m0 xe h7 y11 ff2 fs4 fc0 sc0 ls0 ws0">Instructions for<span class="ff1"> </span></div>
                <div class="t m0 xa h6 y12 ff2 fs4 fc0 sc0 ls0 ws0">Certain Information </div>
                <div class="t m0 xf h6 y13 ff2 fs4 fc0 sc0 ls0 ws0">Returns.</div>
                <div class="t m0 x10 h8 y14 ff3 fs0 fc0 sc0 ls0 ws0">3232</div>
                <div class="t m0 x11 h2 y15 ff1 fs0 fc0 sc0 ls0 ws0">VOID <span class="_ _0"> </span>CORRECTED</div>
                <div class="t m0 x5 h9 y16 ff4 fs5 fc0 sc0 ls0 ws0">20<span class="ff5">19</span></div>
                <div class="t m2 x12 h4 y17 ff1 fs2 fc0 sc0 ls0 ws0">PAYER’S name, street address, city or town, province or state, country, and </div>
                <div class="t m2 x12 h4 y18 ff1 fs2 fc0 sc0 ls0 ws0">ZIP or foreign postal code</div>
                <div class="t m3 x12 h4 y19 ff1 fs2 fc0 sc0 ls0 ws0">PAYER’S federal identification number </div>
                <div class="t m0 x13 h4 y19 ff1 fs2 fc0 sc0 ls0 ws0">PAYER’S telephone number</div>
                <div class="t m0 x12 h4 y1a ff1 fs2 fc0 sc0 ls0 ws0">WINNER’S name</div>
                <div class="t m0 x12 h4 y1b ff1 fs2 fc0 sc0 ls0 ws0">Street address (including apt. no.)</div>
                <div class="t m0 x12 h4 y1c ff1 fs2 fc0 sc0 ls0 ws0">City or town, province or state, country, and ZIP or foreign postal  code</div>
                <div class="t m0 x14 h4 y17 ff2 fs2 fc0 sc0 ls0 ws0">1  <span class="ff1">Reportable winnings</span></div>
                <div class="t m0 x14 h7 y1d ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x15 h4 y17 ff2 fs2 fc0 sc0 ls0 ws0">2  <span class="ff1">Date won</span></div>
                <div class="t m0 x14 h4 y1e ff2 fs2 fc0 sc0 ls0 ws0">3  <span class="ff1">Type of wager<span class="_ _1"> </span></span>4</div>
                <div class="t m4 x9 h4 y1e ff2 fs2 fc0 sc0 ls0 ws0">  <span class="ff1">Federal income tax withheld</span></div>
                <div class="t m0 x15 h7 y1f ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x14 h4 y20 ff2 fs2 fc0 sc0 ls0 ws0">5  <span class="ff1">Transaction<span class="_ _2"> </span></span>6  <span class="ff1">Race</span></div>
                <div class="t m0 x14 ha y21 ff2 fs2 fc0 sc0 ls0 ws0">7</div>
                <div class="t m1 x16 ha y21 ff2 fs2 fc0 sc0 ls0 ws0">   </div>
                <div class="t m5 x17 h4 y21 ff1 fs2 fc0 sc0 ls0 ws0">Winnings from identical wagers</div>
                <div class="t m0 x14 h7 y22 ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x15 h4 y21 ff2 fs2 fc0 sc0 ls0 ws0">8  <span class="ff1">Cashier</span></div>
                <div class="t m0 x14 ha y23 ff2 fs2 fc0 sc0 ls0 ws0">9</div>
                <div class="t m6 x16 h4 y23 ff2 fs2 fc0 sc0 ls0 ws0">   <span class="ff1">Winner’s taxpayer identification no.</span></div>
                <div class="t m0 x15 h4 y23 ff2 fs2 fc0 sc0 ls0 ws0">10  <span class="ff1">Window</span></div>
                <div class="t m0 x14 h4 y1a ff2 fs2 fc0 sc0 ls0 ws0">11  <span class="ff1">First I.D.<span class="_ _3"> </span></span>12  <span class="ff1">Second I.D.</span></div>
                <div class="t m0 x14 ha y1b ff2 fs2 fc0 sc0 ls0 ws0">13</div>
                <div class="t m7 x18 h4 y1b ff2 fs2 fc0 sc0 ls0 ws0">   <span class="ff1">State/Payer’s state identification no.</span></div>
                <div class="t m0 x15 h4 y1b ff2 fs2 fc0 sc0 ls0 ws0">14 <span class="ff1"> State winnings</span></div>
                <div class="t m0 x15 h7 y24 ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x14 h4 y1c ff2 fs2 fc0 sc0 ls0 ws0">15  <span class="ff1">State income tax withheld</span></div>
                <div class="t m0 x14 h7 y25 ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x15 h4 y1c ff2 fs2 fc0 sc0 ls0 ws0">16  <span class="ff1">Local winnings</span></div>
                <div class="t m0 x15 h7 y25 ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x14 h4 y26 ff2 fs2 fc0 sc0 ls0 ws0">17  <span class="ff1">Local income tax withheld</span></div>
                <div class="t m0 x14 h7 y27 ff1 fs4 fc0 sc0 ls0 ws0">$</div>
                <div class="t m0 x15 h4 y26 ff2 fs2 fc0 sc0 ls0 ws0">18  <span class="ff1">Name of locality</span></div>
                <div class="t m0 x19 h4 y28 ff1 fs2 fc0 sc0 ls0 ws0">Under <span class="_ _4"></span>penalties <span class="_ _4"></span>of <span class="_ _4"></span>perjury, <span class="_ _4"></span>I <span class="_ _4"></span>declare <span class="_ _4"></span>that, <span class="_ _4"></span>to <span class="_ _4"></span>the <span class="_ _4"></span>best <span class="_ _4"></span>of <span class="_ _4"></span>my <span class="_ _4"></span>knowledge <span class="_ _4"></span>and <span class="_ _4"></span>belief, <span class="_ _4"></span>the <span class="_ _4"></span>name, <span class="_ _4"></span>address, <span class="_ _4"></span>and <span class="_ _4"></span>taxpayer <span class="_ _4"></span>identification <span class="_ _4"></span>number <span class="_ _4"></span>that <span class="_ _4"></span>I <span class="_ _4"></span>have <span class="_ _4"></span>furnished </div>
                <div class="t m0 x19 h4 y29 ff1 fs2 fc0 sc0 ls0 ws0">correctly identify me as the recipient of this payment and any payments from identical wagers, and that no other person is entitled to any part of these payments.</div>
                <div class="t m0 x19 h6 y2a ff2 fs4 fc0 sc0 ls0 ws0">Signature</div>
                <div class="t m0 x1a h6 y2b ff2 fs4 fc0 sc0 ls0 ws0"> </div>
                <div class="t m0 x1b hb y2c ff6 fs6 fc0 sc0 ls0 ws0">▶</div>
                <div class="t m0 x1c h6 y2a ff2 fs4 fc0 sc0 ls0 ws0">Date</div>
                <div class="t m0 x1d h6 y2b ff2 fs4 fc0 sc0 ls0 ws0"> </div>
                <div class="t m0 x1e hb y2c ff6 fs6 fc0 sc0 ls0 ws0">▶</div>
                <div class="t m0 x0 hc y2d ff1 fs2 fc0 sc0 ls0 ws0">Form <span class="ff2 fs0">W-2G</span></div>
                <div class="t m0 x1f h4 y3 ff1 fs2 fc0 sc0 ls0 ws0">www.irs.gov/FormW2G</div>
                <div class="t m0 x20 hd y2e ff7 fs3 fc0 sc0 ls0 ws0">Do Not Cut or Separate Forms on This Page  –  Do Not Cut or Separate Forms on This Page</div>
            </div>
            <div class="pi" data-data="{&quot;ctm&quot;:[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}"></div>
        </div>
    </div>
</section>