<section class="hero">
  <div class="hero-body">
    <div class="columns is-mobile is-tablet">
      <div class="column is-four-fifths">
        <header class="has-text-centered">
          <h1 class='title is-1'>{{ title }}</h1>
        </header>
        <app-form [form]="newForm" (clearSign)="setSignature()" [dateSigned]="signedDate" [signature]="completedSignature" [selectedLanguage]="selectedFlag"></app-form>
        <!-- <app-identification></app-identification> -->
        <app-signature [actions]="translatedActions" (formSigned)="setSignature($event)"></app-signature>
        <app-actions [actions]="translatedActions" (saveF)="saveForm()" (clearF)="clearForm()" [isSigned]="signedForm"></app-actions>
      </div>
      <div class="column">
        <app-languages (flagSelected)="changedLanguage($event)"></app-languages>
      </div>
    </div>
  </div>
</section>