<aside class="card is-shadowless">
  <div class="card-content">
    <div class="card-item">
      <h4 class="level-item subtitle is-6">English</h4>
    </div>
    <div class="level has-text-centered">
      <div class="level-item">
        <figure class="image is-48x48">
          <img (click)="getTranslation('english')" src="assets/images/flags/flag_usa.png" alt="us flag">
        </figure>
      </div>
    </div>
    <div class="card-item">
      <h4 class="level-item subtitle is-6">German</h4>
    </div>
    <div class="level has-text-centered">
      <div class="level-item">
        <figure class="image is-48x48">
          <img (click)="getTranslation('german')" src="assets/images/flags/flag_germany.png" alt="german flag">
        </figure>
      </div>
    </div>
    <div class="card-item">
      <h4 class="level-item subtitle is-6">Chinese</h4>
    </div>
    <div class="level has-text-centered">
      <div class="level-item">
        <figure class="image is-48x48">
          <img (click)="getTranslation('chinese')" src="assets/images/flags/flag_china.png" alt="china flag">
        </figure>
      </div>
    </div>
    <!-- <div class="card-item">
      <h4 class="level-item subtitle is-6">Spanish</h4>
    </div>
    <div class="level has-text-centered">
      <div class="level-item">
        <figure class="image is-48x48">
          <img (click)="getTranslation('spanish')" src="assets/images/flags/flag_spain.png" alt="mexico flag">
        </figure>
      </div>
    </div> -->
    <div class="card-item">
      <h4 class="level-item subtitle is-6">French</h4>
    </div>
    <div class="level has-text-centered">
      <div class="level-item">
        <figure class="image is-48x48">
          <img (click)="getTranslation('french')" src="assets/images/flags/flag_france.png" alt="france flag">
        </figure>
      </div>
    </div>
    <!-- <div class="card-item">
      <h4 class="level-item subtitle is-6">Arabic</h4>
    </div>
    <div class="level has-text-centered">
      <div class="level-item">
        <figure class="image is-48x48">
          <img (click)="getTranslation('arabic')" src="assets/images/flags/flag_egypt.png" alt="mexico flag">
        </figure>
      </div>
    </div> -->
  </div>
</aside>