<aside class="card">
  <div class="card-image has-text-centered">
    <img class="image is-96x96" (click)="getTranslation('english')" src="assets/images/usResized.png" alt="us flag">
    <h4 class="subtitle is-4">USA</h4>
  </div>
  <div class="card-image has-text-centered">
    <img class="image is-96x96" (click)="getTranslation('german')" src="assets/images/germany.png" alt="german flag">
    <h4 class="subtitle is-4">German</h4>
  </div>
  <div class="card-image has-text-centered">
    <img class="image is-96x96" (click)="getTranslation('chinese')" src="assets/images/china.png" alt="chine flag">
    <h4 class="subtitle is-4">China</h4>
  </div>
  <div class="card-image has-text-centered">
    <img class="image is-96x96" (click)="getTranslation('mexico')" src="assets/images/mexico.png" alt="mexico flag">
    <h4 class="subtitle is-4">Mexico</h4>
  </div>
</aside>